node_modules
.env

#foundry test compilation files
cache
out
reference-out
optimized-out
reference-working
offerers-out

#foundry script run output files
broadcast/

.DS_Store

.gas_reports/*.md

.idea
artifacts
typechain-types
cache_hardhat
.deps/
.openzeppelin